body {
  padding: 20px;
}

.App {
  margin: 0 auto; /* Center the app */
  width: 400px;
}

.App > section {
  background-color: "#f0f0f0";
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
}
